VITE_SUPABASE_URL = https://url_project_example.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY = sb_publishable_key...
VITE_SUPABASE_ANON_KEY = 	JWT_long_lived_key...

# Emr System Customer Details
VITE_COMPANY_TYPE=Medical Office, Clinic, etc... type (e.g. Clinic)
VITE_COMPANY_NAME=Medical Office, Clinic, etc... name (e.g. Love Humans)
VITE_COMPANY_LOGO_URL=https://url_clinic_logo.com